<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREATE THE NEW CUSTOMER</title>
  <style>
    header nav {
      background-color: #007A65;
      color: #fff;
      text-align: center;
      padding: 5px;
    }

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav li {
      display: inline-block;
      margin: 0 10px;
    }

    nav a {
      color: #fff;
      text-decoration: none;
    }

    footer {
      background-color: #addccf;
      color: #333333;
      text-align: center;
      padding: 40px;
    }

    .footer-contact-list {
      list-style: none;
      text-align: left;
    }

    .footer-item-contact i {
      margin-right: 20px;
    }

    .chunoi {
      color: #cbbe73;
      font-family: Playfair Display;
      font-size: 48px;
      text-align: center;
    }


  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<header>
  <div class="container">
    <div class="chunoi">
      FORM CUSTOMER
    </div>
  </div>


  <nav>
    <ul>
      <li><a href="">HOME</a></li>
      <li><a HREF="">ADD CONTRACT</a></li>
      <li><a HREF="">LIST CONTRACT</a></li>
      <li><a HREF="">ADD SERVICE</a></li>
      <li><a HREF="">LIST SERVICE</a></li>
      <li><a HREF="">ADD CUSTOMER</a></li>
      <li><a HREF="">LIST CUSTOMER</a></li>
    </ul>
  </nav>

</header>

<section>

  <form class="px-4 py-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name </label>
      <input type="text" class="form-control" id="name" placeholder="Nguyen Phan Anh" formControlName="name"
             required minlength="6">

      <div *ngIf="registerForm.get('name').invalid && registerForm.get('name')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('name').errors?.required">Name field is required</small>
        <small class="text-danger" *ngIf="registerForm.get('name').errors?.minlength">Name must be at least 6
          characters</small>
      </div>

    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="text" class="form-control" id="birthday" placeholder="01/02/2004" formControlName="birthday"
             required>

      <div *ngIf="registerForm.get('birthday').invalid && registerForm.get('birthday')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('birthday').errors?.required">Birthday field is
          required</small>
        <small class="text-danger"
               *ngIf="registerForm.get('birthday').errors?.invalidDate && registerForm.get('birthday').errors?.required == null">Invalid
          date format (dd/MM/yyyy)</small>
      </div>
    </div>


    <div class="form-group">
      <label for="cmnd">CMND </label>
      <input type="text" class="form-control" id="cmnd" placeholder="123456789" formControlName="cmnd"
             required pattern="^\d{9}$|^\d{12}$">

      <div *ngIf="registerForm.get('cmnd').invalid && registerForm.get('cmnd')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('cmnd').errors?.required">CMND field is required</small>
        <small class="text-danger" *ngIf="registerForm.get('cmnd').errors?.pattern">CMND field is not true
          pattern</small>
      </div>

    </div>


    <div class="form-group">
      <label for="email">Email </label>
      <input type="email" class="form-control" id="email" placeholder="email@example.com" formControlName="email"
             required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

      <div *ngIf="registerForm.get('email').invalid && registerForm.get('email')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('email').errors?.required">Email field is required</small>
        <small class="text-danger" *ngIf="registerForm.get('email').errors?.pattern">Email field is not true
          pattern</small>
      </div>

    </div>


    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone" required
             pattern="^\+84\d{9,10}$">

      <div *ngIf="registerForm.get('phone').invalid && registerForm.get('phone')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('phone').errors?.required">Phone field is required</small>
        <small class="text-danger" *ngIf="registerForm.get('phone').errors?.pattern">Phone field is not true
          pattern</small>
      </div>

    </div>

    <div class="form-group">
      <label for="customerType">Customer Type</label>
      <select class="form-control" id="customerType" name="customerType" formControlName="customerType" required>
        <option value="">Select Customer Type</option>
        <option value="Diamond">Diamond</option>
        <option value="Platinum">Platinum</option>
        <option value="Gold">Gold</option>
        <option value="Silver">Silver</option>
        <option value="Member">Member</option>
      </select>

      <div *ngIf="registerForm.get('customerType').invalid && registerForm.get('customerType')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('customerType').errors?.required">Customer Type field is
          required</small>
      </div>

    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="254 Ngô Quyền" formControlName="address"
             required minlength="6">

      <div *ngIf="registerForm.get('address').invalid && registerForm.get('address')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('address').errors?.required">Address field is
          required</small>
        <small class="text-danger" *ngIf="registerForm.get('address').errors?.minlength">Address must be at least 6
          characters</small>
      </div>

    </div>

    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Sign in</button>

  </form>

</section>


<footer>

  <div class="container">
    <div class="row">
      <div class="col-auto">
        <ul class="footer-contact-list">
          <li class="footer-item-contact">
            <a></a><i class="bi bi-geo-alt-fill"></i>
            103 - 105 Vo Nguyen Giap Street, Khue My
            Ward, Ngu Hanh Son District, Danang City, Vietnam
          </li>
          <li class="footer-item-contact">
            <a></a>
            Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666
          </li>
          <li class="footer-item-contact">
            <a></a>
            Email: reservation@furamavietnam.com * www.furamavietnam.com
          </li>
          <li class="footer-item-contact">
            <a></a>
            GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU
          </li>
          <li class="footer-item-contact"><a></a>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-camera"></i>
            <i class="bi bi-facebook"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</html>
