<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREATE THE NEW CONTRACT</title>
  <style>
    header nav {
      background-color: #007A65;
      color: #fff;
      text-align: center;
      padding: 5px;
    }

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav li {
      display: inline-block;
      margin: 0 10px;
    }

    nav a {
      color: #fff;
      text-decoration: none;
    }

    footer {
      background-color: #addccf;
      color: #333333;
      text-align: center;
      padding: 40px;
    }

    .footer-contact-list {
      list-style: none;
      text-align: left;
    }

    .footer-item-contact i {
      margin-right: 20px;
    }

    .chunoi {
      color: #cbbe73;
      font-family: Playfair Display;
      font-size: 48px;
      text-align: center;
    }


  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<header>
  <div class="container">
    <div class="chunoi">
      FORM CONTRACT
    </div>
  </div>


  <nav>
    <ul>
      <li><a href="">HOME</a></li>
      <li><a HREF="">ADD CONTRACT</a></li>
      <li><a HREF="">LIST CONTRACT</a></li>
      <li><a HREF="">ADD SERVICE</a></li>
      <li><a HREF="">LIST SERVICE</a></li>
      <li><a HREF="">ADD CUSTOMER</a></li>
      <li><a HREF="">LIST CUSTOMER</a></li>
    </ul>
  </nav>

</header>

<section>

  <form class="px-4 py-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name </label>
      <input type="text" class="form-control" id="name" placeholder="Nguyen Phan Anh" formControlName="name"
             required minlength="6">

      <div *ngIf="registerForm.get('name').invalid && registerForm.get('name')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('name').errors?.required">Name field is required</small>
        <small class="text-danger" *ngIf="registerForm.get('name').errors?.minlength">Name must be at least 6
          characters</small>
      </div>

    </div>

    <div class="form-group">
      <label for="serviceName">Service Name </label>
      <input type="text" class="form-control" id="serviceName" placeholder="Villa PenHouse"
             formControlName="serviceName"
             required minlength="6">

      <div *ngIf="registerForm.get('serviceName').invalid && registerForm.get('serviceName')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('serviceName').errors?.required">Service Name field is
          required</small>
        <small class="text-danger" *ngIf="registerForm.get('serviceName').errors?.minlength">Service Name must be at
          least 6
          characters</small>
      </div>

    </div>

    <div class="form-group">
      <label for="dayCreate">DayCreate</label>
      <input type="text" class="form-control" id="dayCreate" placeholder="01/02/2004" formControlName="dayCreate"
             required>

      <div *ngIf="registerForm.get('dayCreate').invalid && registerForm.get('dayCreate')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('dayCreate').errors?.required">DayCreate field is
          required</small>
        <small class="text-danger"
               *ngIf="registerForm.get('dayCreate').errors?.invalidDate && registerForm.get('dayCreate').errors?.required == null">Invalid
          date format (dd/MM/yyyy)</small>
      </div>
    </div>

    <div class="form-group">
      <label for="endDay">EndDay</label>
      <input type="text" class="form-control" id="endDay" placeholder="01/12/2004" formControlName="endDay" required>

      <div *ngIf="registerForm.get('endDay').invalid && registerForm.get('endDay').touched">
        <small class="text-danger" *ngIf="registerForm.get('endDay').errors?.required">EndDay field is required</small>
        <small class="text-danger"
               *ngIf="registerForm.get('endDay').errors?.invalidDate && registerForm.get('endDay').errors?.required == null">Invalid
          date format (dd/MM/yyyy)</small>
      </div>
    </div>


    <div class="form-group">
      <label for="deposit">Deposit</label>
      <input type="number" class="form-control" id="deposit" placeholder="1000$" formControlName="deposit" required>

      <div *ngIf="registerForm.get('deposit').invalid && registerForm.get('deposit')?.touched">
        <small class="text-danger" *ngIf="registerForm.get('deposit').errors?.required">Deposit field is
          required</small>
        <small class="text-danger"
               *ngIf="registerForm.get('deposit').value<1000 && !registerForm.get('deposit').errors?.required">Deposit
          must be more than 1000</small>
      </div>

    </div>

    <div class="form-group">
      <label for="total">Total Cost</label>
      <input type="number" class="form-control" id="total" placeholder="2000$" formControlName="total" required>

      <div *ngIf="registerForm.get('total').invalid && registerForm.get('total').touched">
        <small class="text-danger" *ngIf="registerForm.get('total').errors?.required">Total field is required</small>
        <small class="text-danger"
               *ngIf="registerForm.get('total').value < 2000 && !registerForm.get('total').errors?.required">
          Total must be more than 2000
        </small>
        <small class="text-danger"
               *ngIf="registerForm.get('total').value < registerForm.get('deposit').value && !registerForm.get('total').errors?.required">
          Total must be more than Deposit
        </small>
      </div>
    </div>


    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Sign in</button>

  </form>

</section>

<footer>

  <div class="container">
    <div class="row">
      <div class="col-auto">
        <ul class="footer-contact-list">
          <li class="footer-item-contact">
            <a></a><i class="bi bi-geo-alt-fill"></i>
            103 - 105 Vo Nguyen Giap Street, Khue My
            Ward, Ngu Hanh Son District, Danang City, Vietnam
          </li>
          <li class="footer-item-contact">
            <a></a>
            Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666
          </li>
          <li class="footer-item-contact">
            <a></a>
            Email: reservation@furamavietnam.com * www.furamavietnam.com
          </li>
          <li class="footer-item-contact">
            <a></a>
            GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU
          </li>
          <li class="footer-item-contact"><a></a>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-camera"></i>
            <i class="bi bi-facebook"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</html>
